{% extends "layouts/main.twig" %}

{% block content %}
<h1>Задайте свой вопрос</h1>

<form action="{{ get_url('question/askQuestion') }}" method="POST">
    <input type="text" name="Data[author]" placeholder="Введите имя">
    <input type="email" name="Data[email]" placeholder="Введите email">
    <input type="text" name="Data[question]" placeholder="Введите ваш вопрос">
    <select name="Data[theme_id]" title="">
        {% for id, name in themeList %}
            <option value="{{ id }}">
                {{ name }}
            </option>
        {% endfor %}
    </select>
    <button type="submit">Отправить</button>
</form>
{% endblock %}
